<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat">
<input type="text" name="name">
<input type="submit" value="Submit">
</form>

<div class="brd"> <img src="http://bit.ly/1eze8aE" alt="Cat picture"> </div>
<style contenteditable>
  .brd { border: 3px dashed red;}
</style>
